@{
    ViewBag.Title = "Agenda";
}

<a href="https://msevents.microsoft.com/CUI/EventDetail.aspx?EventID=1032732819&amp;Culture=zh-TW&amp;community=0" target="_blank" class="register">立即報名</a>

<div class="container">
    <header>
        <hgroup>
            <h1>DevDays Asia 2016 亞太開發人員技術年會</h1>
            <h2>生產力暨物聯網應用開發元年</h2>
            <h3>4 月 19 日 ~ 21 日  TAF 空總創新基地</h3>
        </hgroup>
    </header>
    <nav class="top">
        <ul>
            <li><a href="~/Home/Index">活動首頁</a></li>
            <li><a href="~/Home/Agenda">PPT與問題</a></li>
            <li><a href="https://www.microsoft.com/taiwan/events/devdays/speaker.htm">講師介紹</a></li>
            <li><a href="https://www.microsoft.com/taiwan/events/devdays/hack.htm">TEST</a></li>
            <li>
                <a class="reg" href="https://msevents.microsoft.com/CUI/EventDetail.aspx?EventID=1032732819&amp;Culture=zh-TW&amp;community=0" target="_blank">
                    立即報名
                </a>
            </li>
            <li class="eng"><a href="https://www.microsoft.com/taiwan/events/devdays/eng/default.htm">ENGLISH</a></li>
        </ul>
    </nav>
    <div id="agenda" class="content wrapper">
        <h2 class="underline">活動議程</h2>
        <nav class="sub_menu">
            <ul>
                <li class="day01"><a href="https://www.microsoft.com/taiwan/events/devdays/agenda.htm#day01">Day01</a></li>
                <li class="day02"><a href="https://www.microsoft.com/taiwan/events/devdays/agenda.htm#day02">Day02</a></li>
                <li class="day03"><a href="https://www.microsoft.com/taiwan/events/devdays/agenda.htm#day03">Day03</a></li>
            </ul>
        </nav>
        <section id="day01">
            <h3>Day 1 / 4 月 19 日</h3>
            <table>
                <colgroup>
                    <col style="width:150px;">
                    <col style="width:auto;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Agenda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>09:00 - 09:40</td>
                        <td>Welcome &amp; Opening Speech</td>
                    </tr>
                    <tr>
                        <td>09:45 - 10:30</td>
                        <td>Office 開發者的趨勢與商機  (Office Developer Opportunity)</td>
                    </tr>
                    <tr class="break">
                        <td>10:30 - 10:45</td>
                        <td>中場休息 Break</td>
                    </tr>
                    <!-- 160317 update ↓-->
                    <tr>
                        <td>10:45 - 11:15</td>
                        <td>資料開發者的趨勢與未來 I  (Data Development Opportunity Part I)</td>
                    </tr>
                    <tr>
                        <td>11:15 - 11:40</td>
                        <td>資料開發者的趨勢與未來 II  (Data Development Opportunity Part II)</td>
                    </tr>
                    <tr>
                        <td>11:40 - 12:00</td>
                        <td>HAOkathon 好客松介紹 (HAOkathon Overview &amp; Kickoff)</td>
                    </tr>
                    <!-- 160317 update ↑-->
                    <tr class="break">
                        <td>12:00 - 13:15</td>
                        <td>中午用餐 Lunch</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <colgroup>
                    <col style="width:150px;">
                    <col style="width:350px;">
                    <col style="width:150px;">
                    <col style="width:auto;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>協同生產力 (Productivity)</th>
                        <th>Time</th>
                        <th>
                            雲端應用與資料平台 <br>
                            (Cloud &amp; Data Platform)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- 160317 update ↓-->
                        <td>13:15 - 14:00</td>
                        <td>
                            dev.office.com 資源介紹與開發平台 <br>
                            (Dev.Office.com: Office Developer Resources)
                        </td>
                        <td rowspan="2">13:15 - 15:00</td>
                        <td rowspan="2">
                            Big Data Ingestion and Storage
                        </td>
                    </tr>
                    <tr>
                        <td>14:00 - 15:00</td>
                        <td>
                            Office 365 APIs: Office Graph
                        </td>
                    </tr><!-- 160317 update ↑-->
                    <tr class="break">
                        <td>15:00 - 15:15</td>
                        <td>中場休息 Break</td>
                        <td>15:00 - 15:15</td>
                        <td>中場休息 Break</td>
                    </tr>
                    <tr>
                        <td>15:15 - 16:00</td>
                        <td>
                            電子郵件、行事曆和聯絡人 REST 展示<br>
                            (Mail, Calendar, and Contacts REST Demonstration)
                        </td>
                        <!-- 160317 update ↓-->
                        <td>15:15 - 16:15</td>
                        <td>
                            Machine Learning and Advanced Analytics
                        </td>
                    </tr>
                    <tr>
                        <td>16:00 - 16:45</td>
                        <td>
                            Office Add-Ins 開發介紹<br>
                            (Office Add-ins intro and development)
                        </td>
                        <td rowspan="2">16:15 - 17:15</td>
                        <td rowspan="2">
                            R and Python
                        </td>
                    </tr>
                    <tr>
                        <td>16:45 - 17:15</td>
                        <td>
                            企業實際案例分享 - 將 Office 效益最大化<br>
                            (Case Studies: How other companies utilize Office)
                        </td>
                    </tr><!-- 160413 update ↑-->
                    <tr>
                        <td>17:15 - 20:00</td>
                        <td>
                            HAOkathon 好客松團隊創意發想<br>
                            (HAOkathon Team Building and Brainstorm)
                        </td>
                        <td>17:15 - 20:00</td>
                        <td>
                            HAOkathon 好客松團隊創意發想<br>
                            (HAOkathon Team Building and Brainstorm)
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="bottom">
                <p>※ 本活動全程英文授課，Day 1 / 4 月 19 日 09:30-12:00 議程時段提供口譯服務，主辦單位保留活動議程與講師調整之權利</p>
                <a href="javascript:" class="gotop green">TOP↑</a>
            </div>
        </section>
        <section id="day02">
            <h3>Day 2 / 4 月 20 日</h3>
            <table class="agenda">
                <colgroup>
                    <col style="width:70px;">
                    <col style="width:263px;">
                    <col style="width:70px;">
                    <col style="width:263px;">
                    <col style="width:70px;">
                    <col style="width:auto">
                </colgroup>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>協同生產力 (Productivity)</th>
                        <th>Time</th>
                        <th>
                            雲端應用與資料平台 <br>
                            (Cloud &amp; Data Platform)
                        </th>
                        <th>Time</th>
                        <th>Open Specifications</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>09:00<br>| <br>09:30</td>
                        <td>
                            HAOkathon 好客松團隊創意發想<br>
                            (HAOkathon Team Building and Brainstorm)
                        </td>
                        <td>09:00<br>| <br>09:30</td>
                        <td>
                            HAOkathon 好客松團隊創意發想<br>
                            (HAOkathon Team Building and Brainstorm)
                        </td>
                        <td>09:00<br>| <br>09:20</td>
                        <td>
                            開發人員必備:<br>
                            Open Specification 和工具介紹<br>
                            (Intro to Open Specifications and Tools)
                        </td>
                    </tr>
                    <tr>
                        <td>09:30<br>| <br>10:00</td>
                        <td>
                            O365 開發人員計畫註冊與操作<br>
                            (O365 Developer Program sign-up &amp; Training)
                        </td>
                        <td rowspan="2">09:30<br>| <br>10:30</td>
                        <td rowspan="2">
                            Power BI with Big Data Stores
                        </td>
                        <td>09:20<br>| <br>09:50</td>
                        <td>
                            SQL Server 通訊協定簡介<br>
                            (SQL Server Protocol Overview)
                        </td>
                    </tr>
                    <tr>
                        <td>10:00<br>| <br>10:30</td>
                        <td>
                            透過 Add-Ins 訪問 APIs<br>
                            (Accessing APIs through add-ins)
                        </td>
                        <td>09:50<br>| <br>10:30</td>
                        <td>
                            OData 服務介紹與應用實戰<br>
                            (OData Overviews and Demos)
                        </td>
                    </tr>
                    <tr class="break">
                        <td>10:30<br>| <br>10:45</td>
                        <td colspan="5">
                            中場休息 Break
                        </td>
                    </tr>
                    <tr>
                        <td>10:45<br>| <br>11:15</td>
                        <td>
                            API Explorer
                        </td>
                        <td rowspan="2">10:45<br>| <br>11:45</td>
                        <td rowspan="2">
                            Creating an Azure ML Experiment
                        </td>
                        <td>10:45<br>| <br>11:30</td>
                        <td>
                            Exchange 通訊協定:<br>
                            ActiveSync, Exchange Web Services, MAPI<br>
                            (Exchange Protocols:<br>ActiveSync, Exchange Web Services, MAPI)
                        </td>
                    </tr>
                    <tr>
                        <td>11:15<br>| <br>11:45</td>
                        <td>
                            Office UI Fabric
                        </td>
                        <td rowspan="2">11:30<br>| <br>12:00</td>
                        <td rowspan="2">
                            Sharepoint 通訊協定<br>
                            (SharePoint Protocols)
                        </td>
                    </tr>
                    <tr>
                        <td>11:45<br>| <br>12:00</td>
                        <td>
                            好客松正式開賽<br>
                            HAOkathon Getting Started
                        </td>
                        <td>11:45<br>| <br>12:00</td>
                        <td>
                            好客松正式開賽<br>
                            HAOkathon Getting Started
                        </td>
                    </tr><!-- 160317 update ↑-->
                    <tr class="break">
                        <td>12:00<br>| <br>13:00</td>
                        <td colspan="5">
                            中午用餐 Lunch
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="agenda">
                <colgroup>
                    <col style="width:70px;">
                    <col style="width:263px;">
                    <col style="width:70px;">
                    <col style="width:263px;">
                    <col style="width:70px;">
                    <col style="width:auto">
                </colgroup>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>生產力應用 APP<br>(Productivity APP)</th>
                        <th>Time</th>
                        <th>
                            雲端應用與資料平台 APP<br>
                            (Cloud &amp; Data Platform APP)
                        </th>
                        <th>Time</th>
                        <th>Open Specifications</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>13:00<br>| <br>17:00</td>
                        <td colspan="3">
                            好客松<br>
                            (HAOkathon)
                        </td>
                        <td>13:00<br>| <br>13:30</td>
                        <td>
                            Office 流量解析:<br>Message Analyzer &amp; Fiddler<br>
                            (Parsing Office Traffic:<br>Message Analyzer &amp; Fiddler)
                        </td>
                    </tr>
                    <tr>
                        <td class="break">17:00<br>| <br>18:00</td>
                        <td colspan="3" class="break">
                            晚餐時間 Dinner
                        </td>
                        <td>13:30<br>| <br>13:45</td>
                        <td>
                            透過 WOPI<br>(Web 應用程式開放平台介面)<br>
                            實踐 Office Web Apps 整合應用<br>
                            (Office Online (MS-WOPI))
                        </td>
                    </tr>
                    <tr>
                        <td>18:00<br>| <br>20:00</td>
                        <td colspan="3">
                            好客松<br>
                            (HAOkathon)
                        </td>
                        <td>13:45<br>| <br>14:15</td>
                        <td>
                            Office 共同編輯 (MS-FSSHTTP)<br>
                            (Office Co-Authoring <br>(MS-FSSHTTP))
                        </td>
                    </tr>
                    <tr>
                        <td class="break">20:00<br>| <br>20:30</td>
                        <td colspan="3" class="break">
                            小點心時間 Evening snacks
                        </td>
                        <td>14:15<br>| <br>14:30</td>
                        <td>
                            Office 檔案格式<br>
                            (Office File Formats)
                        </td>
                    </tr>
                    <tr>
                        <td>20:30<br>| <br>00:00</td>
                        <td colspan="3">
                            好客松<br>
                            (HAOkathon)
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="talk">
                <colgroup>
                    <col style="width:150px;">
                    <col style="auto;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Lightning Talk</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>13:45 - 14:00</td>
                        <td>
                            Source Control (Managing your project) - Lightning Talk
                        </td>
                    </tr>
                    <tr>
                        <td>14:30 - 14:45</td>
                        <td>
                            Existing Open Source Projects - Lightning Talk
                        </td>
                    </tr>
                    <tr>
                        <td>15:30 - 15:45</td>
                        <td>
                            Auth with Office - Lightning Talk
                        </td>
                    </tr>
                    <tr>
                        <td>16:30 - 16:45</td>
                        <td>
                            IOT - Lightning Talk
                        </td>
                    </tr>
                    <tr>
                        <td>18:00 - 18:15</td>
                        <td>
                            Machine Learning Gallery - Lightning Talk
                        </td>
                    </tr>
                    <tr>
                        <td>19:15 - 19:30</td>
                        <td>
                            Power BI - Lightning Talk
                        </td>
                    </tr>
                    <tr>
                        <td>20:30 - 20:45</td>
                        <td>
                            Azure Data Factory - Lightning Talk
                        </td>
                    </tr>
                    <tr>
                        <td>21:30 - 21:45</td>
                        <td>
                            Azure Data Lake - Lightning Talk
                        </td>
                    </tr>
                    <tr>
                        <td>22:30 - 22:45</td>
                        <td>
                            Project Deployment and Publish - Lightning Talk
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="bottom">
                <p>※ 本活動全程英文授課，主辦單位保留活動議程與講師調整之權利</p>
                <a href="javascript:" class="gotop green">TOP↑</a>
            </div>
        </section>
        <section id="day03">
            <h3>Day 3 / 4 月 21 日</h3>
            <table>
                <colgroup>
                    <col style="width:150px;">
                    <col style="width:350px;">
                    <col style="width:150px;">
                    <col style="width:auto;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>生產力應用 APP<br>(Productivity APP)</th>
                        <th>Time</th>
                        <th>
                            雲端應用與資料平台 APP<br>
                            (Cloud &amp; Data Platform APP)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>00:00 - 12:00</td>
                        <td colspan="3">
                            好客松<br>(HAOkathon)
                        </td>
                    </tr>
                    <tr>
                        <td>12:00 - 12:30</td>
                        <td colspan="3">
                            提交好客松開發成果<br>
                            (HAOkathon projects submitted by 12:00)
                        </td>
                    </tr>
                    <tr class="break">
                        <td>12:00 - 13:30</td>
                        <td colspan="3">
                            中午用餐 &amp; 初審評選<br>
                            Lunch and Preliminary Evaluation
                        </td>
                    </tr>
                    <tr>
                        <td>13:30 - 14:40</td>
                        <td colspan="3">
                            總決賽 (入圍代表簡報 5 分鐘 + QA 2 分鐘) <br>
                            Final Presentation (Presentation 5mins + QA 2mins)
                        </td>
                    </tr>
                    <tr>
                        <td>14:40 - 15:00</td>
                        <td colspan="3">
                            評審決選討論 <br>
                            Judge Final Comment &amp; Discussion
                        </td>
                    </tr>
                    <tr>
                        <td>15:00 - 15:30</td>
                        <td colspan="3">
                            致詞 &amp; 頒獎 <br>
                            Award Ceremony &amp; Closing Remark
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="talk">
                <colgroup>
                    <col style="width:150px;">
                    <col style="auto;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Lightning Talk</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>09:00 - 09:15</td>
                        <td>
                            Delivering your pitch - Lightning Talk
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="bottom">
                <p>※ 本活動全程英文授課，主辦單位保留活動議程與講師調整之權利</p>
                <a href="javascript:" class="gotop green">TOP↑</a>
            </div>
        </section>
    </div>
    <footer>
        <small>
            ©2016  Microsoft Corporation.  著作權所有，並保留一切權利。
        </small>
        <ul>
            <li><a href="https://www.microsoft.com/taiwan/misc/cpyright.htm" target="_blank">使用規定</a></li>
            <li><a href="https://www.microsoft.com/library/toolbar/3.0/trademarks/zh-tw.mspx" target="_blank">商標</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=248681" target="_blank">隱私權聲明</a></li>
        </ul>
        <a href="https://www.microsoft.com/taiwan/" target="_blank">
            <img src="./DevDays Asia 2016 亞太開發人員技術年會_files/ms_logo_w.png">
        </a>
    </footer>
</div>
<script type="text/javascript">
    var varAutoFirePV = 1;
    var varClickTracking = 1;
    var varCustomerTracking = 1;
    var Route = "";
    var Ctrl = "";
    document.write("<script type='text/javascript' src='" + (window.location.protocol) + "//c.microsoft.com/ms.js'" + "'><\/script>");
</script>
<script type="text/javascript" src="./DevDays Asia 2016 亞太開發人員技術年會_files/ms.js">

</script>
<iframe id="_msnFrame" src="./DevDays Asia 2016 亞太開發人員技術年會_files/c.html" style="z-index:-1;height:1px;width:1px;display:none;visibility:hidden;"></iframe>
