@{
    ViewBag.Title = "Agenda";
}

<body>
    <a href="~/Register/SendSignin" target="_blank" class="register">
        立即報名
    </a>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5717ec860676f670"></script>


    <div class="container">
        <header>
            <hgroup>
                <h1>DevDays Asia 2016 Taipei 亞太開發人員技術年會</h1>
                <h2>生產力暨物聯網應用開發元年</h2>
                <h3>4 月 19 日 ~ 21 日 TAF 空總創新基地</h3>
            </hgroup>
        </header>
        <nav class="top">
            <ul>
                <li>
                    <a class="reg" href="~/Register/Signin" target="_blank">
                        報到/現場報名
                    </a>
                </li>
                <li><a href="~/Home/Agenda">活動/講師介紹</a></li>
                <li><a href="~/Home/Index">認識夥伴</a></li>
                <li><a href="~/Home/QA">意見交流</a></li>
                <li><a href="~/Home/Answer">活動問卷</a></li>

                <li class="eng"><a href="https://www.microsoft.com/taiwan/events/devdays/eng/default.htm">ENGLISH</a></li>
            </ul>
        </nav>


        <div id="about" class="content container" style="padding-top:30px">
            <div class="underline h2" style="border-bottom: 1px solid #E95B52">
                <a href="#state1" class="underline h2" style="color:#E95B52">活動資訊</a> /
                <a href="#state2" class="underline h2" style="color:#E95B52">活動議程</a> /
                <a href="#state3" class="underline h2" style="color:#E95B52">講師介紹</a>
            </div>

            <section class="intro" style="padding-top:25px">
                <p>
                    2015 年 11 月微軟在台灣正式成立「物聯網產業發展中心」，以期能有效結合全球與在地生態系統中的主要夥伴，並加速開發製造、金融、醫療、交通運輸以及零售等多項產業的發展物聯網解決方案。為了讓更多開發人員對於各類新概念與新技術有進一步的瞭解，由經濟部工業局指導、微軟與經濟部數位內容產業推動辦公室主辦的
                    <strong>
                        亞太開發人員技術年會 DevDays Asia 2016  Taipei
                    </strong>
                    將在 2016 年 4 月展開；在三天議程中，來自美國微軟的專家將透過各種交流與互動，與台灣的開發人員共同激盪令人期待的技術能量！
                </p>
                <p>
                    第一天登場的是大會專題演講（Keynote），將由美國微軟專家群提供各類與效率提升、雲端運算以及資料分析平台相關的新技術和新概念，並且分別聚焦在生產力提升以及與雲端與資料平台兩個主題進行技術探討。
                </p>
                <p>
                    第二天的重頭戲，除了透過技術專題探討及工作坊和與會者分享範例程式碼並交流程式開發心法之外，在第二天下午還舉辦好客松（黑客松）讓參賽者與微軟美國原廠專家一起利用最新的科技為社會公益貢獻心力。
                </p>
                <p>
                    持續進行至第三天的好客松（黑客松）對開發者而言將是一次鑽石級的機會；在為期一天半的好客松（黑客松）活動過程中，來自美國微軟的專家也會與參賽者一起開發，並期望能激盪出更高的技術能量與火花。在促進社會公益的年會主軸下，參賽者能夠以提高生產力、環境保護以及海洋生態系統保育、社會公益、政府公開資料或是改善大學教育為主題，透過科技的輔助將有助於社會公益的作為提升到一個新的層次。本次好客松（黑客松）也提供相當優渥的獎品給予優勝者，包含
                    Surface Pro 4、Visual Studio Enterprise with MSDN 訂閱下載服務、Office 365。誠摯邀請您共襄盛舉！
                </p>
            </section><!-- .intro -->
            <section class="info">
                <h2 class="underline" id="state1" style="color: coral">活動資訊</h2>
                <div class="row">
                    <div class="right col-lg-6">
                        <article class="venue">
                            <h3>活動地點</h3>
                            <p>
                                TAF 空總創新基地 展演廳 1 (聯合餐廳)<br>
                                台北市大安區建國南路一段 177 號 由側門進入
                            </p>
                            <img src="~/images/map.jpg" width="460" height="360">
                        </article>
                    </div>
                    <div class="left col-lg-6">
                        <article class="date">
                            <h3>活動日期</h3>
                            <p>4 月 19 日、20 日、21 日</p>
                        </article>
                        <article class="plan">
                            <h3>活動形式</h3>
                            <ul>
                                <li>Day 1 上午：<br>大會主題演講 （Keynote）</li>
                                <li>
                                    Day 1 下午 + Day 2 上午：<br>技術專題 ( Tracks ) + 工作坊
                                    （Workshop）
                                </li>
                                <li>Day 2 下午 + Day 3：<br>好客松（黑客松）</li>
                            </ul>
                        </article>
                        <article class="contact">
                            <h3>洽詢電話</h3>
                            <p>02-25622880 # 3671 戴先生</p>
                        </article>
                    </div>
                </div>
                <div class="bottom">
                    <p>※ 主辦單位保留報名資格審查之權利</p>
                    <a href="#top" class="gotop white">TOP↑</a>
                </div>
            </section><!-- .info -->
            @*<div class="container">*@
            <div id="agenda" style="margin-top:25px">
                <h2 class="underline" id="state2">活動議程 </h2>
                <nav class="sub_menu">
                    <ul>
                        <li class="day01"><a href="#day01">Day01</a></li>
                        <li class="day02"><a href="#day02">Day02</a></li>
                        <li class="day03"><a href="#day03">Day03</a></li>
                    </ul>
                </nav>
                <section id="day01" style="padding-top:0px">
                <h3>Day 1 / 4 月 19 日</h3>
                <table>
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:auto;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Agenda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>09:00 - 09:40</td>
                            <td>Welcome &amp; Opening Speech</td>
                        </tr>
                        <tr>
                            <td>09:45 - 10:30</td>
                            <td><a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day1/20160419_Agenda_session1.pptx">Office 開發者的趨勢與商機  (Office Developer Opportunity)</a><img src="~/images/icon2.png"></td>
                        </tr>
                        <tr class="break">
                            <td>10:30 - 10:45</td>
                            <td>中場休息 Break</td>
                        </tr>
                        <!-- 160317 update ↓-->
                        <tr>
                            <td>10:45 - 11:15</td>
                            <td>資料開發者的趨勢與未來 I  (Data Development Opportunity Part I)</td>
                        </tr>
                        <tr>
                            <td>11:15 - 11:40</td>
                            <td><a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day1/20160419_Agenda_session2.pptm">資料開發者的趨勢與未來 II  (Data Development Opportunity Part II)</a><img src="~/images/icon2.png"></td>
                        </tr>
                        <tr>
                            <td>11:40 - 12:00</td>
                            <td>HAOkathon 好客松介紹 (HAOkathon Overview &amp; Kickoff)</td>
                        </tr>
                        <!-- 160317 update ↑-->
                        <tr class="break">
                            <td>12:00 - 13:15</td>
                            <td>中午用餐 Lunch</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:350px;">
                        <col style="width:150px;">
                        <col style="width:auto;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>協同生產力 (Productivity)</th>
                            <th>Time</th>
                            <th>
                                雲端應用與資料平台 <br>
                                (Cloud &amp; Data Platform)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- 160317 update ↓-->
                            <td>13:15 - 14:00</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day1/20160419_Productivity_session1.pptx">
                                    dev.office.com 資源介紹與開發平台 <br>
                                    (Dev.Office.com: Office Developer Resources)
                                </a>
                                <img src="~/images/icon2.png">
                            </td>
                            <td rowspan="2">13:15 - 15:00</td>
                            <td rowspan="2">
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day1/20160419_Cloud_session1.pptx">Big Data Ingestion and Storage</a>
                                <img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td>14:00 - 15:00</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day1/20160419_Productivity_session2.pptx">Office 365 APIs: Office Graph</a>
                                <img src="~/images/icon2.png">
                            </td>
                        </tr><!-- 160317 update ↑-->
                        <tr class="break">
                            <td>15:00 - 15:15</td>
                            <td>中場休息 Break</td>
                            <td>15:00 - 15:15</td>
                            <td>中場休息 Break</td>
                        </tr>
                        <tr>
                            <td>15:15 - 16:00</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day1/20160419_Productivity_session3.pptx">
                                    電子郵件、行事曆和聯絡人 REST 展示<br>
                                    (Mail, Calendar, and Contacts REST Demonstration)
                                </a>
                                <img src="~/images/icon2.png">
                            </td>
                            <!-- 160317 update ↓-->
                            <td>15:15 - 16:15</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day1/20160419_Cloud_session2.pptx">Machine Learning and Advanced Analytics</a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td>16:00 - 16:45</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day1/20160419_Productivity_session4.pptx">
                                    Office Add-Ins 開發介紹<br>
                                    (Office Add-ins intro and development)
                                </a>
                                <img src="~/images/icon2.png">
                            </td>
                            <td rowspan="2">16:15 - 17:15</td>
                            <td rowspan="2">
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day1/20160419_Cloud_session3.pptx">R and Python</a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td>16:45 - 17:15</td>
                            <td>
                                企業實際案例分享 - 將 Office 效益最大化<br>
                                (Case Studies: How other companies utilize Office)
                            </td>
                        </tr><!-- 160413 update ↑-->
                        <tr>
                            <td>17:15 - 20:00</td>
                            <td>
                                HAOkathon 好客松團隊創意發想<br>
                                (HAOkathon Team Building and Brainstorm)
                            </td>
                            <td>17:15 - 20:00</td>
                            <td>
                                HAOkathon 好客松團隊創意發想<br>
                                (HAOkathon Team Building and Brainstorm)
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottom">
                    <p>※ 本活動全程英文授課，Day 1 / 4 月 19 日 09:30-12:00 議程時段提供口譯服務，主辦單位保留活動議程與講師調整之權利</p>
                    <a href="#top" class="gotop green">TOP↑</a>
                </div>
                </section>
                <section id="day02" style="padding-top:0px">
                <h3>Day 2 / 4 月 20 日</h3>
                <table class="agenda">
                    <colgroup>
                        <col style="width:70px;">
                        <col style="width:263px;">
                        <col style="width:70px;">
                        <col style="width:263px;">
                        <col style="width:70px;">
                        <col style="width:auto">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>協同生產力 (Productivity)</th>
                            <th>Time</th>
                            <th>
                                雲端應用與資料平台 <br>
                                (Cloud &amp; Data Platform)
                            </th>
                            <th>Time</th>
                            <th>Open Specifications</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>09:00<br>| <br>09:30</td>
                            <td>
                                HAOkathon 好客松團隊創意發想<br>
                                (HAOkathon Team Building and Brainstorm)
                            </td>
                            <td>09:00<br>| <br>09:30</td>
                            <td>
                                HAOkathon 好客松團隊創意發想<br>
                                (HAOkathon Team Building and Brainstorm)
                            </td>
                            <td>09:00<br>| <br>09:20</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Open_session1.pptx">
                                    開發人員必備:<br>
                                    Open Specification 和工具介紹<br>
                                    (Intro to Open Specifications and Tools)
                                </a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td>09:30<br>| <br>10:00</td>
                            <td>
                                O365 開發人員計畫註冊與操作<br>
                                (O365 Developer Program sign-up &amp; Training)
                            </td>
                            <td rowspan="2">09:30<br>| <br>10:30</td>
                            <td rowspan="2">
                                Power BI with Big Data Stores
                            </td>
                            <td>09:20<br>| <br>09:50</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Open_session2.pptx">
                                    SQL Server 通訊協定簡介<br>
                                    (SQL Server Protocol Overview)
                                </a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td>10:00<br>| <br>10:30</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Productivity_session1.pptx">
                                    透過 Add-Ins 訪問 APIs<br>
                                    (Accessing APIs through add-ins)
                                </a><img src="~/images/icon2.png">
                            </td>
                            <td>09:50<br>| <br>10:30</td>
                            <td>
                                OData 服務介紹與應用實戰<br>
                                (OData Overviews and Demos)
                            </td>
                        </tr>
                        <tr class="break">
                            <td>10:30<br>| <br>10:45</td>
                            <td colspan="5">
                                中場休息 Break
                            </td>
                        </tr>
                        <tr>
                            <td>10:45<br>| <br>11:15</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Productivity_session2.pptx">API Explorer</a><img src="~/images/icon2.png">
                            </td>
                            <td rowspan="2">10:45<br>| <br>11:45</td>
                            <td rowspan="2">
                                Creating an Azure ML Experiment
                            </td>
                            <td>10:45<br>| <br>11:30</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Open_session3.pptx">
                                    Exchange 通訊協定:<br>
                                    ActiveSync, Exchange Web Services, MAPI<br>
                                    (Exchange Protocols:<br>ActiveSync, Exchange Web Services, MAPI)
                                </a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td>11:15<br>| <br>11:45</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Productivity_session3.pptx">Office UI Fabric</a><img src="~/images/icon2.png">
                            </td>
                            <td rowspan="2">11:30<br>| <br>12:00</td>
                            <td rowspan="2">
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Open_session4.pptx">
                                    Sharepoint 通訊協定<br>
                                    (SharePoint Protocols)
                                </a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td>11:45<br>| <br>12:00</td>
                            <td>
                                好客松正式開賽<br>
                                HAOkathon Getting Started
                            </td>
                            <td>11:45<br>| <br>12:00</td>
                            <td>
                                好客松正式開賽<br>
                                HAOkathon Getting Started
                            </td>
                        </tr><!-- 160317 update ↑-->
                        <tr class="break">
                            <td>12:00<br>| <br>13:00</td>
                            <td colspan="5">
                                中午用餐 Lunch
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="agenda">
                    <colgroup>
                        <col style="width:70px;">
                        <col style="width:263px;">
                        <col style="width:70px;">
                        <col style="width:263px;">
                        <col style="width:70px;">
                        <col style="width:auto">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>生產力應用 APP<br>(Productivity APP)</th>
                            <th>Time</th>
                            <th>
                                雲端應用與資料平台 APP<br>
                                (Cloud &amp; Data Platform APP)
                            </th>
                            <th>Time</th>
                            <th>Open Specifications</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13:00<br>| <br>17:00</td>
                            <td colspan="3">
                                好客松<br>
                                (HAOkathon)
                            </td>
                            <td>13:00<br>| <br>13:30</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Open_session5.pptx">
                                    Office 流量解析:<br>Message Analyzer &amp; Fiddler<br>
                                    (Parsing Office Traffic:<br>Message Analyzer &amp; Fiddler)
                                </a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td class="break">17:00<br>| <br>18:00</td>
                            <td colspan="3" class="break">
                                晚餐時間 Dinner
                            </td>
                            <td>13:30<br>| <br>13:45</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Open_session6.pptx">
                                    透過 WOPI<br>(Web 應用程式開放平台介面)<br>
                                    實踐 Office Web Apps 整合應用<br>
                                    (Office Online (MS-WOPI))
                                </a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td>18:00<br>| <br>20:00</td>
                            <td colspan="3">
                                好客松<br>
                                (HAOkathon)
                            </td>
                            <td>13:45<br>| <br>14:15</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Open_session7.pptx">
                                    Office 共同編輯 (MS-FSSHTTP)<br>
                                    (Office Co-Authoring <br>(MS-FSSHTTP))
                                </a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td class="break">20:00<br>| <br>20:30</td>
                            <td colspan="3" class="break">
                                小點心時間 Evening snacks
                            </td>
                            <td>14:15<br>| <br>14:30</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_Open_session8.pptx">
                                    Office 檔案格式<br>
                                    (Office File Formats)
                                </a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                        <tr>
                            <td>20:30<br>| <br>00:00</td>
                            <td colspan="3">
                                好客松<br>
                                (HAOkathon)
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="talk">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="auto;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Lightning Talk</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13:45 - 14:00</td>
                            <td>
                                Source Control (Managing your project) - Lightning Talk
                            </td>
                        </tr>
                        <tr>
                            <td>14:30 - 14:45</td>
                            <td>
                                Existing Open Source Projects - Lightning Talk
                            </td>
                        </tr>
                        <tr>
                            <td>15:30 - 15:45</td>
                            <td>
                                Auth with Office - Lightning Talk
                            </td>
                        </tr>
                        <tr>
                            <td>16:30 - 16:45</td>
                            <td>
                                IOT - Lightning Talk
                            </td>
                        </tr>
                        <tr>
                            <td>18:00 - 18:15</td>
                            <td>
                                Machine Learning Gallery - Lightning Talk
                            </td>
                        </tr>
                        <tr>
                            <td>19:15 - 19:30</td>
                            <td>
                                Power BI - Lightning Talk
                            </td>
                        </tr>
                        <tr>
                            <td>20:30 - 20:45</td>
                            <td>
                                Azure Data Factory - Lightning Talk
                            </td>
                        </tr>
                        <tr>
                            <td>21:30 - 21:45</td>
                            <td>
                                Azure Data Lake - Lightning Talk
                            </td>
                        </tr>
                        <tr>
                            <td>22:30 - 22:45</td>
                            <td>
                                <a href="http://download.microsoft.com/download/0/F/1/0F1B141A-9C69-4BEA-97EE-BDC50C7DA114/day2/20160420_LightingTalk_session1.pptx">Project Deployment and Publish - Lightning Talk</a><img src="~/images/icon2.png">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottom">
                    <p>※ 本活動全程英文授課，主辦單位保留活動議程與講師調整之權利</p>
                    <a href="#top" class="gotop green">TOP↑</a>
                </div>
                </section>
                <section id="day03" style="padding-top:0px">
                <h3>Day 3 / 4 月 21 日</h3>
                <table>
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:350px;">
                        <col style="width:150px;">
                        <col style="width:auto;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>生產力應用 APP<br>(Productivity APP)</th>
                            <th>Time</th>
                            <th>
                                雲端應用與資料平台 APP<br>
                                (Cloud &amp; Data Platform APP)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>00:00 - 12:00</td>
                            <td colspan="3">
                                好客松<br>(HAOkathon)
                            </td>
                        </tr>
                        <tr>
                            <td>12:00 - 12:30</td>
                            <td colspan="3">
                                提交好客松開發成果<br>
                                (HAOkathon projects submitted by 12:00)
                            </td>
                        </tr>
                        <tr class="break">
                            <td>12:00 - 13:30</td>
                            <td colspan="3">
                                中午用餐 &amp; 初審評選<br>
                                Lunch and Preliminary Evaluation
                            </td>
                        </tr>
                        <tr>
                            <td>13:30 - 14:40</td>
                            <td colspan="3">
                                總決賽 (入圍代表簡報 5 分鐘 + QA 2 分鐘) <br>
                                Final Presentation (Presentation 5mins + QA 2mins)
                            </td>
                        </tr>
                        <tr>
                            <td>14:40 - 15:00</td>
                            <td colspan="3">
                                評審決選討論 <br>
                                Judge Final Comment &amp; Discussion
                            </td>
                        </tr>
                        <tr>
                            <td>15:00 - 15:30</td>
                            <td colspan="3">
                                致詞 &amp; 頒獎 <br>
                                Award Ceremony &amp; Closing Remark
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="talk">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="auto;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Lightning Talk</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>09:00 - 09:15</td>
                            <td>
                                Delivering your pitch - Lightning Talk
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottom">
                    <p>※ 本活動全程英文授課，主辦單位保留活動議程與講師調整之權利</p>
                    <a href="#top" class="gotop green">TOP↑</a>
                </div>
                </section>
            </div>
            @*</div>*@

        </div><!-- #about .content -->

        <div id="speaker" class="content container">
            <h2 class="underline" id="state3">講師介紹</h2>
            <section>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h3>Keynote Speaker</h3>
                            <h4>Tristan Davis</h4>
                            <h5>Group Program Manager, Microsoft Corporation </h5>
                        </hgroup>
                        <p>
                            Tristan Davis is the Group Program Manager of the APIs &amp; Extensions team within Office Extensibility. His team is responsible for improvements to the Office 365 APIs, the new Apps for Office client extensibility model, as well as all existing flavors of Office programmability. Prior to joining the team, he was a member of the Word program management team from Office 2003 through Office 2013.
                        </p>
                    </div>
                </article>
                <article>
                    <!-- 160414 update ↓-->
                    <img src="~/images/speaker.png">
                    <div class="left">
                        <hgroup>
                            <h3>Keynote Speaker</h3>
                            <h4>David Robinson</h4>
                            <h5>Director of Engineering for Cortina Intelligence China within Cloud and Enterprise Computing</h5>
                        </hgroup>
                        <p>
                            David Robinson is the Director of Engineering for Cortina Intelligence China within Cloud and Enterprise Computing. He is responsible for the global Azure Data Movement services, SSIS, and OData protocols. David Robinson relocated from the United States to Shanghai, China and has spoken at previous Microsoft Interoperability Events.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h3>Keynote Speaker</h3>
                            <h4>Darwin Schweitzer</h4>
                            <h5>Senior Program Manager</h5>
                        </hgroup>
                        <p>
                            Darwin is a Senior Program Manager at Microsoft focused on Cortana Analytics, Big Data, and Data Science tools and education.  He is part of the Algorithms and Data Science group in Information Management and Machine Learning.  His data experience has been gained through a number of diverse roles at Microsoft as well as at other technology companies like IBM and Business Objects.  Roles have included program manager, instructor, practitioner, data architect, technical lead, consultant, and teaching assistant and he has worked for companies in a variety of industries (technology, healthcare, financial services, insurance, pharmaceuticals, travel, education, non-profit, and utilities) including local Pacific Northwest organizations like the University of Washington, Washington Mutual, Expedia, and Snohomish County PUD.  The one commonality in his career has been Data and Education.  Darwin is an aspiring Data Engineer/Data Scientist and dedicated lifelong learner who contributes to continuing education as a <a href="https://www.pce.uw.edu/certificates/cloud-data-management-and-analytics" target="_blank">Cloud Data Management &amp; Analytics</a> instructor at the University of Washington and as a volunteer teaching assistant at Henry M. Jackson High School in Millcreek, WA where he helps students learn Java and prepare for the AP Computer Science exam  <a href="http://tealsk12.org/" target="_blank">http://tealsk12.org</a> .  In his spare time he likes to travel, hike, read (technology or books about US Presidents), listen to Blues and Jazz, and enjoy an occasional round of golf.  Darwin hopes to help drive Big Data and Data Science education and increase the broad adoption of Data Science products and services like Cortana Analytics and build Data Science community.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h3>Keynote Speaker</h3>
                            <h4>Ted Way</h4>
                            <h5>Program Manager , Azure Machine Learning Engineering Team</h5>
                        </hgroup>
                        <p>
                            Ted Way is a Program Manager on the Azure Machine Learning engineering team.  The Azure Machine Learning service enables you to quickly create a predictive model and use it in production.  He focuses on insights derived from telemetry and metrics from the service, and he also works on enabling BI analysts to go from hindsight to foresight by integrating Excel, Power BI, and other tools with Azure ML web services.  He received BS degrees in electrical engineering and computer engineering, MS degrees in electrical engineering and biomedical engineering, and a PhD in biomedical engineering, all from the University of Michigan – Ann Arbor.  His PhD dissertation was on “spell check for radiologists,” a computer-aided diagnosis (CAD) system that uses image processing and machine learning to estimate lung cancer malignancy on chest CT scans.  Ted was born in Taiwan, grew up in Arizona, and went to high school in Hsin-chu.  While working for Microsoft, he took a leave of absence to fulfill his military service requirement, serving as an Alternative Military Serviceman at the Ministry of Foreign Affairs (MOFA) from 2010-2011.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>KB Badu-Antwi</h4>
                            <h5>Senior Program Manager</h5>
                        </hgroup>
                        <p>
                            KB Badu-Antwi is Senior Program Manager responsible for the interoperability initiative spanning the entire Data Group (including SQL Server). He has been at Microsoft for over 10 years and currently leads cross-functional domestic and international teams responsible for defining, delivering, and monitoring engineering/antitrust compliance and interoperability requirements.
                        </p>
                        <p>
                            Prior to joining the Data Group, KB served in the of Program Manager on the Xbox Platform team. He graduated from Seattle Pacific University with a Bachelor’s of Science degree in Computer Science and a Master’s of Science degree in Information System Management.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Michael Bowman</h4>
                            <h5>Senior Program Manager, Office Interoperability Team</h5>
                        </hgroup>
                        <p>
                            Michael Bowman is a Program Manager in the Microsoft Office Interoperability team. He leads the delivery and release efforts for interoperability events and test tools for the Microsoft Office Division, including SharePoint, Exchange Server, and Office. Prior to joining Microsoft, Michael spent the first part of his career in an engineering role at Hewlett Packard focusing on developing new industry standard server technologies.
                        </p>
                        <p>
                            He graduated from the University of Washington with a Bachelor’s of Science degree in Computer Science and a Masters of Business Administration from the Foster School of Business at the University of Washington.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Tarun Chopra</h4>
                            <h5>Senior Escalation Engineer</h5>
                        </hgroup>
                        <p>
                            Tarun Chopra is a presently a Senior Escalation Engineer in the Microsoft Office Developer Support Open Specifications team. His primary responsibilities include helping customers implement solutions using WOPI, Exchange RPC/MAPI, ActiveSync, Web Services, Lync/Skype protocols, and Office Open XML and binary formats. Before joining Office Open Specifications team, Tarun played a vital role in helping customers in implementing Windows protocols and represented Microsoft in couple of Plugfest/Interop events organized globally. Authentication, LYNC/RDP, File Sharing protocols are some of his strengths.
                        </p>
                        <p>
                            Prior to Microsoft, Tarun worked as a Development Lead in Developing Test Suites for Validation of Windows Open Specification and has vast experience in developing distributed systems. He played a key role in developing Parking Management Solutions for Japanese Firm and Verification of Ticketing System for Japanese Rail Network. He received a Bachelor’s Degree in Electronics and Telecommunication from University in India.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Andrew Davidoff</h4>
                            <h5>Senior Software Test Engineer, Office Interoperability Team</h5>
                        </hgroup>
                        <p>
                            Andrew Davidoff is a Senior Software Test Engineer in the Microsoft Office Interoperability team. He drives Interoperability testing and Test Suites across the Exchange family of Open Specifications, and other Office Open Specifications.
                        </p>
                        <p>
                            Prior to joining Office Interoperability team, Andrew has served in the role of Senior Test Engineer and Senior Test Lead in Exchange team at Microsoft. He was responsible for testing of major components of Exchange Server for a number of releases. He graduated from the Moscow Aviation Institute, Russia with a Bachelor’s degree in Computer Science.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Tom Jebo</h4>
                            <h5>Senior Escalation Engineer</h5>
                        </hgroup>
                        <p>
                            Tom Jebo is a Senior Escalation Engineer in the Microsoft Developer Support Open Specifications team. His primary responsibilities are helping customers implement solutions using WOPI, Exchange RPC/MAPI, ActiveSync, Web Services, Lync/Skype protocols, and Office Open XML and binary formats. Before joining the Open Specifications team, Tom helped customers with Microsoft’s developer tools, C/C++ languages and COM technologies.
                        </p>
                        <p>
                            Before Microsoft, Tom developed architectural simulation software at Amdhal Corporation in Sunnyvale, California. Tom graduated from Boston University with a bachelor’s degree in Computer Science and currently lives in Seattle Washington.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Pui Leung</h4>
                            <h5>Software Engineer</h5>
                        </hgroup>
                        <p>
                            Pui Leung is a Software Engineer in the Microsoft Office Extensibility team. He is responsible for Interoperability test suites and test tools development and release testing for the Microsoft Office Division, including SharePoint, Exchange Server, and Office.
                        </p>
                        <p>
                            Prior to joining Microsoft, Pui worked as a System Software Engineer on various types of software projects including Windows kernel device driver and server management software at Compaq and Hewlett Packard. He graduated from the Oregon State University with a Bachelor’s of Science degree in Computer Science.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Donny Luu</h4>
                            <h5>Software Engineering Manager, Office Developer Experience Team</h5>
                        </hgroup>
                        <p>
                            Donny is the software engineering manager of the Office Developer Experience team. He leads the development and release efforts for interoperability tools, documentation, and events for the Microsoft Office Division, including SharePoint, Exchange Server, and Office. The mission of the Developer Experience team is to provide Office365 developers and IT admins a good on ramp experience in developing, deploying, and migrating their solutions and documents on Office365 releases.  Our goals are to unite the Office365 developer communities where they can discover, learn, build, migrate, and measure the success of their applications.
                        </p>
                        <p>
                            Prior to joining the Office Developer Experience team, Donny was the test director of the Microsoft Analytics and Presentation Services team where he leaded the testing and release efforts of Excel, PowerBI, and PowerPoint. In earlier Office releases, Donny was the software test manager for the Office Programmability team where he leaded the integration, testing, and release of VBA, COM-Addin, and PIA. He graduated from the University of Washington with a Bachelor of Science degree in Computer Science and Engineering.
                        </p>
                    </div>
                </article>
                <article>
                    <!-- 160317 update ↓-->
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Seth Mottaghinejad</h4>
                            <h5>Data Scientist</h5>
                        </hgroup>
                        <p>
                            Seth is a data scientist with the Azure Machine Learning team at Microsoft, where his primary focus is on Microsoft R Server and its integration with other Microsoft products.  Prior to joining Microsoft, Seth worked as a consultant at Revolution Analytics, an big data platform for analytics using the R programming language.  In his consulting role, Seth helped customers replace their legacy analytics products (such as SAS) with R, integrate R with Hadoop or other distributed platforms, and develop R products or optimize their performance.  He joined Microsoft in 2015 when Microsoft acquired Revolution Analytics, opening the way for MRS (Microsoft R Server).  Seth also worked at American Express and Saks Fifth Avenue, primarily in marketing analytics and retail analytics roles.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Mark Stafford</h4>
                            <h5>Program Manager</h5>
                        </hgroup>
                        <p>
                            Mark Stafford is a program manager at Microsoft contributing to the future of the OData protocol. Mark has a unique perspective on data access technologies given his many years of pre-Microsoft experience building and deploying real-world applications, managing developers and directing a business intelligence team.
                        </p>
                    </div>
                </article><!-- 160317 update ↑-->
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Jingyu Shao</h4>
                            <h5>Software Engineer</h5>
                        </hgroup>
                        <p>
                            Jingyu Shao is a Software Test Engineer in the Microsoft Office Interoperability team. She is responsible for Interoperability tool development, especially Office parsers to run on Microsoft Message Analyzer. Parsers include SharePoint, Exchange Server and Lync Server.
                        </p>
                        <p>
                            Prior to working on parsers, Jingyu worked as a Software Test Engineer for 4 years, focusing on SharePoint and Exchange Server test suits development and protocol testing. She graduated from Zhejiang University with a Master’s degree in Electronic Information Science Technology.
                        </p>
                    </div>
                </article>
                <article>
                    <img src="~/images/speaker.png" width="200" height="200">
                    <div class="left">
                        <hgroup>
                            <h4>Jinghui Zhang</h4>
                            <h5>Software Engineer, Office Extensibility Team, Microsoft Corporation</h5>
                        </hgroup>
                        <p>
                            Jinghui Zhang is a Software Engineer in the Microsoft Office Extensibility team. She is a developer of dev.office.com and graph.microsoft.io. She also drives development for new Office Add-ins, SharePoint and Exchange Test Suites, and Office Open XML and Uniform Office Format interoperability tools.
                        </p>
                        <p>
                            She gives talks about Office Add-in, Protocol Test Suites, etc. in the Microsoft Interop Events. And she also participates in the hack sessions to lead developers to reach their hack success. Her favorite part of the events is the brain storm and hack session.
                        </p>
                        <p>
                            She graduated from Beijing University of Aeronautics &amp; Astronautics, China with a Bachelor’s degree in Information Management and Information Systems.
                        </p>
                    </div>
                </article>
            </section>
            <div class="clearfix">
                <a href="#top" class="gotop green" style="margin-bottom:10px">TOP↑</a>
            </div>
        </div>
        <footer>
            <small>
                ©2016 Microsoft Corporation. 著作權所有，並保留一切權利。
            </small>
            <ul>
                <li>
                    <a href="https://www.microsoft.com/taiwan/misc/cpyright.htm" target="_blank">
                        使用規定
                    </a>
                </li>
                <li>
                    <a href="https://www.microsoft.com/library/toolbar/3.0/trademarks/zh-tw.mspx" target="_blank">
                        商標
                    </a>
                </li>
                <li>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=248681" target="_blank">
                        隱私權聲明
                    </a>
                </li>
            </ul>
            <a href="https://www.microsoft.com/taiwan/" target="_blank">
                <img src="~/images/ms_logo_w.png">
            </a>
        </footer>
    </div><!-- .container -->


    <script type="text/javascript">
    var varAutoFirePV = 1;
    var varClickTracking = 1;
    var varCustomerTracking = 1;
    var Route = "";
    var Ctrl = "";
    document.write("<script type='text/javascript' src='" + (window.location.protocol) + "//c.microsoft.com/ms.js'" + "'><\/script>");
    </script>
    <script type="text/javascript" src="./AAAAAA_files/ms.js" '=""></script><iframe id="_msnFrame" src="./AAAAAA_files/c.html" style="z-index:-1;height:1px;width:1px;display:none;visibility:hidden;"></iframe>

</body>