@{
    ViewBag.Title = "Answer";
}

<a href="~/Register/SendSignin" target="_blank" class="register">立即報名</a>



<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5717ec860676f670"></script>


<div class="container">
    <header>
        <hgroup>
            <h1>DevDays Asia 2016 亞太開發人員技術年會</h1>
            <h2>生產力暨物聯網應用開發元年</h2>
            <h3>4 月 19 日 ~ 21 日  TAF 空總創新基地</h3>
        </hgroup>
    </header>
    <nav class="top">
        <ul>
            <li>
                <a class="reg" href="~/Register/Signin" target="_blank">
                    報到/現場報名
                </a>
            </li>
            <li><a href="~/Home/Agenda">活動/講師介紹</a></li>
            <li><a href="~/Home/Index">認識夥伴</a></li>
            <li><a href="~/Home/QA">意見交流</a></li>
            <li><a href="~/Home/Answer">活動問卷</a></li>

            <li class="eng"><a href="https://www.microsoft.com/taiwan/events/devdays/eng/default.htm">ENGLISH</a></li>
        </ul>
    </nav>

    @* 內容 *@
    <div class="content container" style="padding:50px">

        <h2 class="underline">活動問卷</h2>
        <section>
            @using (Html.BeginForm("Send", "Home", FormMethod.Post))
            {
                <div class="col-md-12" style="padding-top:20px">
                    <h4>您對於今天活動的場地滿意嗎? </h4>
                    <select name="place">
                        <option value="5">非常滿意</option>
                        <option value="4">滿意</option>>
                        <option value="3">普通</option>>
                        <option value="2">不滿意</option>>
                        <option value="1">非常不滿意</option>>
                    </select>
                </div>
                <div class="col-md-12">
                    <h4>您對於今天活動的工作人員服務滿意嗎?</h4>

                    <select name="staff">
                        <option value="5">非常滿意</option>
                        <option value="4">滿意</option>>
                        <option value="3">普通</option>>
                        <option value="2">不滿意</option>>
                        <option value="1">非常不滿意</option>>
                    </select>

                </div>
                <div class="col-md-12">
                    <h4>您覺得今天活動的講座及講師滿意嗎? </h4>

                    <select name="activity">
                        <option value="5">非常滿意</option>
                        <option value="4">滿意</option>>
                        <option value="3">普通</option>>
                        <option value="2">不滿意</option>>
                        <option value="1">非常不滿意</option>>
                    </select>

                </div>
                <div class="col-md-12">
                    <h4>請問您從何處得知本次活動訊息?</h4>

                    <select name="info">
                        <option value="email">電子宣傳郵件</option>
                        <option value="news">新聞報導</option>>
                        <option value="group">社群網站</option>>
                        <option value="friend">新聞報導</option>>
                        <option value="other">其他</option>>
                    </select>

                </div>
                <div class="col-md-12" style="grid-column-align:center;">
                    <h4>其他意見</h4>

                    <textarea name="other"></textarea><br>

                </div>
                <div class="col-md-12">
                    <input style="margin-top: 20px" type="submit" name="送出" />
                </div>
            }
        </section>
    </div>
    <footer>
        <small>
            ©2016 Microsoft Corporation. 著作權所有，並保留一切權利。
        </small>
        <ul>
            <li>
                <a href="https://www.microsoft.com/taiwan/misc/cpyright.htm" target="_blank">
                    使用規定
                </a>
            </li>
            <li>
                <a href="https://www.microsoft.com/library/toolbar/3.0/trademarks/zh-tw.mspx" target="_blank">
                    商標
                </a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkId=248681" target="_blank">
                    隱私權聲明
                </a>
            </li>
        </ul>
        <a href="https://www.microsoft.com/taiwan/" target="_blank">
            <img src="~/images/ms_logo_w.png">
        </a>
    </footer>
</div>

<script type="text/javascript">
    // Put event listeners into place
    window.addEventListener("DOMContentLoaded", function () {
        // Grab elements, create settings, etc.
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d"),
            video = document.getElementById("video"),
            videoObj = { "video": true },
            errBack = function (error) {
                console.log("Video capture error: ", error.code);
            };

        // Put video listeners into place
        if (navigator.getUserMedia) { // Standard
            navigator.getUserMedia(videoObj, function (stream) {
                video.src = stream;
                video.play();
            }, errBack);
        } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
            navigator.webkitGetUserMedia(videoObj, function (stream) {
                video.src = window.webkitURL.createObjectURL(stream);
                video.play();
            }, errBack);
        }
        else if (navigator.mozGetUserMedia) { // Firefox-prefixed
            navigator.mozGetUserMedia(videoObj, function (stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            }, errBack);
        }
    }, false);
</script>

<script type="text/javascript" src="./DevDays Asia 2016 亞太開發人員技術年會_files/ms.js">

</script>
<iframe id="_msnFrame" src="./DevDays Asia 2016 亞太開發人員技術年會_files/c.html" style="z-index:-1;height:1px;width:1px;display:none;visibility:hidden;"></iframe>
