@{
    ViewBag.Title = "Register";
}

<a href="~/Register/SendSignin" target="_blank" class="register">立即報名</a>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5717ec860676f670"></script>

<div class="container">

    <header>
        <hgroup>
            <h1>DevDays Asia 2016 亞太開發人員技術年會</h1>
            <h2>生產力暨物聯網應用開發元年</h2>
            <h3>4 月 19 日 ~ 21 日  TAF 空總創新基地</h3>
        </hgroup>
    </header>
    @* 導覽列 *@
    <nav class="top">
        <ul>
            <li>
                <a class="reg" href="~/Register/Signin" target="_blank">
                    報到/現場報名
                </a>
            </li>
            <li><a href="~/Home/Agenda">活動/講師介紹</a></li>
            <li><a href="~/Home/Index">認識夥伴</a></li>
            <li><a href="~/Home/QA">意見交流</a></li>
            <li><a href="~/Home/Answer">活動問卷</a></li>
            <li class="eng"><a href="https://www.microsoft.com/taiwan/events/devdays/eng/default.htm">ENGLISH</a></li>
        </ul>
    </nav>

    @* 內容 *@
    <div class="content wrapper">

        <h2 class="underline">註冊</h2>
        <section>
            @using (Html.BeginForm("Send", "Register", FormMethod.Post))
            {
                <div class="col-md-12" >
                    <h4>姓名</h4>
                    <input type="text" placeholder="王小明" />
                </div>
                <div class="col-md-12">
                    <h4>行動電話</h4>
                    <input type="tel" placeholder="0911-000-000" />
                </div>
                <div class="col-md-12">
                    <h4>Email</h4>
                    <input type="email" placeholder="DevDays@outlook.com" />
                </div>
                <div class="col-md-12">
                    <h4>暱稱</h4>
                    <input type="text" placeholder="小小明" />
                </div>
                <div class="col-md-12" style="grid-column-align:center;">
                    <h4>職業</h4>
                    <select>
                        <option value="工程師">工程師</option>
                        <option value="商務人士">商務人士</option>
                        <option value="設計師">設計師</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
                <div class="col-md-12" style="grid-column-align:center;">
                    <h4>你的興趣</h4>
                    <select>
                        <option value="科技">科技</option>
                        <option value="藝術與人文">藝術與人文</option>
                        <option value="歷史">歷史</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
                <div class="col-md-12" style="grid-column-align:center;">
                    <h4>你想認識的組群</h4>
                    <select>
                        <option value="工程師">工程師</option>
                        <option value="創業家">創業家</option>
                        <option value="設計師">設計師</option>
                        <option value="其他">其他</option>
                    </select>
                </div>

                //缺專長、照片
                <div class="col-md-12" style="align-content:center" >
                    <input type="button" value="回上一頁" onclick="location.href = '/Register/Signin'">
                    <input style="margin-top: 20px" type="submit" name="送出" />
                </div>     
            }
        </section>
    </div>
    <footer>
        <small>
            ©2016  Microsoft Corporation.  著作權所有，並保留一切權利。
        </small>
        <ul>
            <li><a href="https://www.microsoft.com/taiwan/misc/cpyright.htm" target="_blank">使用規定</a></li>
            <li><a href="https://www.microsoft.com/library/toolbar/3.0/trademarks/zh-tw.mspx" target="_blank">商標</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=248681" target="_blank">隱私權聲明</a></li>
        </ul>
        <a href="https://www.microsoft.com/taiwan/" target="_blank">
            <img src="~/images/ms_logo_w.png">
        </a>
    </footer>
</div>
@* 不知道以下在做什麼 *@
<script type="text/javascript">
    var varAutoFirePV = 1;
    var varClickTracking = 1;
    var varCustomerTracking = 1;
    var Route = "";
    var Ctrl = "";
    document.write("<script type='text/javascript' src='" + (window.location.protocol) + "//c.microsoft.com/ms.js'" + "'><\/script>");
</script>

<script type="text/javascript">
    // Put event listeners into place
    window.addEventListener("DOMContentLoaded", function () {
        // Grab elements, create settings, etc.
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d"),
            video = document.getElementById("video"),
            videoObj = { "video": true },
            errBack = function (error) {
                console.log("Video capture error: ", error.code);
            };

        // Put video listeners into place
        if (navigator.getUserMedia) { // Standard
            navigator.getUserMedia(videoObj, function (stream) {
                video.src = stream;
                video.play();
            }, errBack);
        } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
            navigator.webkitGetUserMedia(videoObj, function (stream) {
                video.src = window.webkitURL.createObjectURL(stream);
                video.play();
            }, errBack);
        }
        else if (navigator.mozGetUserMedia) { // Firefox-prefixed
            navigator.mozGetUserMedia(videoObj, function (stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            }, errBack);
        }
    }, false);
</script>

<script type="text/javascript" src="./DevDays Asia 2016 亞太開發人員技術年會_files/ms.js">

</script>
<iframe id="_msnFrame" src="./DevDays Asia 2016 亞太開發人員技術年會_files/c.html" style="z-index:-1;height:1px;width:1px;display:none;visibility:hidden;"></iframe>
