@{
    ViewBag.Title = "Home Page";
}

<body style="background-color: #5d2d91;  margin: 0 auto">
    <link href="asset/banner_102.png" rel="image_src" type="image/jpeg">
    <div class="row logoBar" style="width: 100%; padding: 0; margin: 0;">
        <div class="slogan">
            <div style="float: left">
                <a href="http://www.microsoft.com/zh-tw/"><img src="asset/MSFT_logo_rgb_C-Gray.png" alt="" style="height: 40px"></a>
            </div>
            <div style="float: left; padding-top:10px">
                ｜　
                <a href="https://www.dreamspark.com/Product/Product.aspx?productid=99">Microsoft Azure for DreamSpark</a>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 0; margin: 0;">
        <img src="asset/banner_102.png" alt="" class="img-responsive center-block">
    </div>
    <div style="width: 1000px; margin: 0 auto">
        <div class="row">
            <img src="asset/banner_2-01.png" alt="" class="img-responsive">
        </div>
        <div class="row intro">
            <h3>
                通過身分驗證的 <span class="o">DreamSpark</span> 學生將可免費使用 <a href="https://www.dreamspark.com/Product/Product.aspx?productid=99"><span class="y">Microsoft Azure for DreamSpark</span></a>，無須綁約、沒有使用期限，也無須負擔任何附帶費用。如果您願意的話，日後也能升級以享有更多服務；不過，您現在就能善用 Microsoft 雲端的強大威力輕鬆裝載 Web 應用程式和網站，而且完全免費！
            </h3>
        </div>

        <div class="row">
            <div class="col-xs-4 ">
                <img src="asset/icon_1_webapp.png" alt="" class="center-block" style="height: 200px;">
            </div>
            <div class="col-xs-8">
                <h4 class="webApp">
                    Azure 應用程式服務 <span class="y">Web 應用程式</span>隸屬於管理完善的雲端服務方案，可讓您在短短幾秒之內輕鬆建置與部署 Web 應用程式。可使用 ASP.NET、Java、PHP、Node.js 或 Python，並可執行熱門的 Web 應用程式和 CMS 解決方案。利用 VSO、GitHub、TeamCity、Hudson 或 BitBucket 建置持續性的整合和部署工作流程，您即可在各個成功的程式碼檢查或整合測試中，自動建立、測試和部署 Web 應用程式。
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <h4 class="clearDB">
                    <span class="y">ClearDB</span> 提供的 <span class="y">MySQL</span> 資料庫可為您的 Web 應用程式增添 MySQL 的強大威力。透過 ClearDB MySQL，您將能部署更多種的 Web 應用程式與 CMS 解決方案，例如 Wordpress、Joomla、Acquia Drupal 和 phpBB 等等。
                </h4>
            </div>
            <div class="col-xs-4 ">
                <img src="asset/icon_2_clearDB.png" alt="" class="center-block" style="height: 200px;">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 ">
                <img src="asset/icon_3_appinsight02.png" alt="" class="center-block" style="height: 200px;">
            </div>
            <div class="col-xs-8">
                <h4 class="appInsight">
                    <span class="y">Application Insights</span> 可針對您為 Windows Phone、iOS 和 Android 平台開發的 ASP.NET 服務和行動應用程式提供全方位的視野，舉凡可用性、效能和使用情況都能盡悉掌握。您可以搜尋並分析資料，以持續改善應用程式、排定未來投資的優先順序，並提升整體的客戶使用體驗。
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <h4 class="VSO">
                    <span class="y">Visual Studio Online</span> 是當前速度最快且最好用的跨平台開發工具，可讓您針對各種平台輕鬆規劃、建置與遞送軟體。只要短短幾分鐘，您就能透過我們的雲端基礎結構展開工作，不必費神安裝或設定任何伺服器。
                </h4>
            </div>
            <div class="col-xs-4 ">
                <img src="asset/icon_4_VSonline.png" alt="" class="center-block" style="height: 200px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="width: 100%; padding: 0; margin: 0;">
        <div class="link">
            <div class="item text-center">
                <a href="http://www.microsoft.com/zh-tw/">Microsoft</a>
                ｜　　
                <a href="https://www.dreamspark.com/Product/Product.aspx?productid=99">Microsoft Azure for DreamSpark</a>
                ｜　　
                <a href="https://www.facebook.com/MSPTaiwan">Microsoft Student Partners in Taiwan</a>
                ｜　　
                <a href="https://www.facebook.com/imaginecuptw">ImagineCup</a>
            </div>
        </div>
        <div class="copy text-center">
            2015　Microsoft Student Partners in Taiwan
        </div>
    </div>

</body>